[submodule "build-aux"]
	path = build-aux
	url = git://github.com/laas/shared-build-aux.git
[submodule "tests/shared-tests"]
	path = tests/shared-tests
	url = git://github.com/laas/roboptim-shared-tests.git
