[submodule "jrl-cmakemodules"]
	path = jrl-cmakemodules
	url = git://github.com/jrl-umi3218/jrl-cmakemodules.git
[submodule "tests/shared-tests"]
	path = tests/shared-tests
	url = git://github.com/laas/roboptim-shared-tests.git
[submodule "cmake"]
	path = cmake
	url = git://github.com/jrl-umi3218/jrl-cmakemodules.git
