INSTALL
Makefile.in
_build*
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/libtool.m4
build-aux/ltdl.m4
build-aux/ltmain.sh
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
build-aux/missing
config.h.in
config.h.in~
configure
doc/Makefile.in
packages/Makefile.in
packages/debian/Makefile.in
packages/ebuild/Makefile.in
packages/rpm/Makefile.in
src/Makefile.in
tests/Makefile.in
tests/testsuite
+committed/
,*
testsuite.log
libltdl*
