#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie


DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CXXFLAGS+=-fvisibility=hidden

.PHONY: override_dh_auto_configure	\
	override_dh_strip

%:
	dh  $@ --parallel --with pkgkde_symbolshelper

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_INSTALL_LIBDIR=lib/${DEB_HOST_MULTIARCH} \
	-DCMAKE_INSTALL_DOCDIR=share/doc/libroboptim-core-doc

override_dh_strip:
	dh_strip -a --dbg-package=libroboptim-core2-dbg
